<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066163575772-dfnohsb4uj2l8qs1nn0avi27gue4ft8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066163575772-dfnohsb4uj2l8qs1nn0avi27gue4ft8b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066163575772-qtfgef72uso6ri2lo6ggv2eevg1e2opa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXRnyedbDljr_DcVx31NIst3v7pVew7Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>1066163575772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CreateThisRNTemplate</string>
	<key>PROJECT_ID</key>
	<string>createthisrntemplate</string>
	<key>STORAGE_BUCKET</key>
	<string>createthisrntemplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066163575772:ios:49b6cea4897ddce101cd19</string>
</dict>
</plist>